@font-face {
    font-family: Poppins;
    src: url("../../font/Poppins-Regular.ttf")
}
@font-face {
    font-family: PoppinsBold;
    src: url("../../font/Poppins-Bold.ttf")
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.wrap {
    height: 100vh;

    .sidebar {
        height: 100vh;
        background-color: #2E4DD4;
        display: flex;
        justify-content: center;
        align-items: center;

        .sidebarWrap {
            width: 85%;
            height: 90vh;

            .logoName {
                color: white;
                font-size: 20px;
                font-family: 'PoppinsBold';
            }

            .sidebarList {
                height: 80vh;
                color: white;
                list-style: none;
                margin-left: -40px;

                .li {
                    font-size: 18px;
                    display: flex;
                    margin-top: 30px;
                    width: 100%;


                    .icon {
                        font-size: 25px !important;
                        margin-right: 10px;
                    }
                }
                .li:hover {
                    margin-left: 15px;
                    transition: .5s ease;
                    font-family: 'PoppinsBold';
                }
            }

        }
    }
    .wrapContent {
        background-color: #F5F6FA;
        display: flex;
        align-items: center;

        .content {
            background-color: #F5F6FA;
            height: 90vh;

            .wellcome {
                font-size: 18px;
            }

            .name {
                font-size: 20px;
                font-family: 'PoppinsBold';
            }

            .header {
                height: 80px;
                background-color: #F5F6FA;
                display: flex;
                justify-content: space-between;

                .title {
                    font-family: 'PoppinsBold';
                    font-size: 36px;
                    color: #2E4765;
                }

                .wellcome {
                    font-size: 18px;
                }
    
                .name {
                    font-size: 20px;
                    font-family: 'PoppinsBold';
                }
            }

            .option {
                height: 80px;
                background-color: #F5F6FA;
                display: flex;
                align-items: center;

                .itemType {
                    height: 80px;
                    background-color: #F5F6FA;

                    .borderRadius {
                        border-radius: 15px;
                        background-color: white;
                        font-size: 12px;

                        
                        #dropdown-basic-button {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: white;
                            color: black;
                            border: none;
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
                .city {
                    height: 80px;
                    background-color: #F5F6FA;
                    // display: flex;
                    // align-items: center;

                    .borderRadius {
                        border-radius: 15px;
                        background-color: white;
                        font-size: 12px;

                        #dropdown-basic-button {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: white;
                            color: black;
                            border: none;
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
                .date {
                    height: 80px;
                    background-color: #F5F6FA;

                    .borderRadius {
                        border-radius: 15px 15px 5px 5px;
                        background-color: white;
                        height: 50px;
                        font-size: 12px;
                        display: flex;
                        align-items: center;

                        .datePicker {
                            font-size: 16px;
                            width: 100%;
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }
                }
                .latest {
                    height: 70px;
                    background-color: #F5F6FA;

                    .borderRadius {
                        border-radius: 15px;
                        background-color: white;
                        font-size: 12px;

                        #dropdown-basic-button {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: white;
                            color: black;
                            border: none;
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
                .search {
                    height: 80px;
                    background-color: #F5F6FA;
                    
                    // .borderRadius {
                    //     border-radius: 17px;
                    //     background-color: #84E0BE;
                    //     height: 60px;
                    //     border: 1px solid #00BF78;
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     cursor: -webkit-grab;
                    //     cursor: grab;

                    //     .fa-search {
                    //         color: white;
                    //         font-size: 20px;
                    //     }
                    // }
                    .button {
                        border-radius: 10px;
                        background-color: #84E0BE;
                        border: 1px solid #00BF78;
                        display: flex;
                        align-items: center;
                        .fa-search {
                            font-size: 25px;
                            padding: 3px;
                        }
                    }
                }
            }
            .grid1 {
                height: 100%;
                background-color: white;
                display: flex;
                justify-content: center;

                // .fa-archive {
                //     font-size: 20px;
                //     background-color: #D4D9DF;
                //     padding:px;
                // }
            }
            .grid2 {
                background-color: white;

                .wrap {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 10px;
                    

                    .wrap1 {
                        display: flex;
                        flex-direction: column;
                        
                        .text {
                            font-size: 15px;
                            font-family: 'PoppinsBold';

                        }

                        .location {
                            display: flex;
                            width: 75%;
                            justify-content: space-between;
                            margin-top: 5px;
                            align-items: center;
                        }
                    }
                }
            }

            .grid3 {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: white;

                .top {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .verified {
                        font-size: 10px;
                        background-color: #84E0BE;
                        padding: 2px 10px;
                        color: white;
                        border: 1px solid #00BF78;
                        border-radius: 5px;
                        font-weight: bold;
                    }
                    .cartons {
                        font-size: 10px;
                        font-family: 'PoppinsBold';
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .availabe {
                        font-size: 10px;
                        background-color: #FFBC6E;
                        padding: 2px 7px;
                        color: white;
                        border: 1px solid #FAB05A;
                        border-radius: 5px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        .fa-check {
                            margin-right: 2px;
                        }
                    }
                    .costumerJoin {
                        font-size: 8px;
                        background-color: #9FD4FD;
                        padding: 4.5px 7px;
                        color: white;
                        border: 1px solid #9AC4E3;
                        border-radius: 5px;
                        font-weight: bold;
                    }
                }
            }
            
            .grid4 {
                background-color: white;

                .wrapGrid4 {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-around;

                    .text {
                        font-size: 10px;
                        font-family: 'PoppinsBold';
                    }
                    #dropdown-basic-button {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: white;
                        color: black;
                        border: none;
                        font-size: 11px;
                    }
                }
            }
            
            .grid5 {
                background-color: white;
                display: flex;
                align-items: center;
                border-left: 2px solid #F5F6FA;

                .wrapGrid5 {
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .asking {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 12px;
                    }

                    .text {
                        font-size: 23px;
                        font-weight: bold;
                    }

                    .auction {
                        font-size: 12px;
                        padding: 10px 7px;
                        border-radius: 10px;
                        border: 1px solid #00BF78;
                        background-color: #84E0BE;
                        color: white;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }

    }

    .tranding {
        background-color: #F5F6FA;
        .profile {
            .img {
                height: 50px;
                width: 50px;
                border-radius: 10px;
                margin-right: 5px;
            }
            .text {
                font-size: 12px;
            }
        }

        .wrapIcon {
            display: flex;
            justify-content: space-around;
            width: 25%;

            .icon {
                font-size: 15px;
            }
        }
    }
}